lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

ShootTogether.uistate.xml

Event sheet 1.uistate.xml
Layout 1.uistate.xml
ChooseServer.uistate.xml
ChooseServer.uistate.xml
ShootTogether.uistate.xml
